# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

public/.idea/
public/.sourcemaps/
public/.sass-cache/
public/.tmp/
public/.versions/
public/coverage/
public/dist/
public/node_modules/
public/tmp/
public/temp/
public/hooks/
public/platforms/
public/plugins/
public/plugins/android.json
public/plugins/ios.json
public/www/
$RECYCLE.BIN/
public/node_modules
server/node_modules
.DS_Store
public/Thumbs.db
public/UserInterfaceState.xcuserstate